<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Manage Teacher Web</title>
</head>
<body>
    
    <div class="container">
        <div class="col-md-10 offset-md-1 mt-5">
            <nav class="navbar navbar-light bg-light">
                <a href="/" class="navbar-brand mb-0 h1">Teacher Manager</a>
            </nav>
            {% block content %}
            {% endblock content %}
        </div>
       
    </div>

</body>
</html>